*{
  box-sizing: border-box;
}
header,main,nav,footer,figure,figcaption,aside,section,article{
  display: block;
}
h1{
  font-size: 5.62rem;
  color: #11999E;
  margin-top: 50px auto 0px auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  text-align: center;
}
body{
  background-color: #E4F9F5;
}
/* Nav Bar */
nav li{
  display: inline;
  float: right;
}
nav ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #115;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #129;
}
